<footer class="footer">
    <div class="container">
        <div class="row footer-row flex-container">
        <div class="col-md-4">
            <img class="footer-logo" src="/assets/images/footer-sm.png">
            <p class="footer-introduction">
            AusTop环澳集团2006年成立于澳大利亚悉尼，是本地规模最大、知名度最高的华人咨询服务类机构。从公司成立以来，始终秉承着“关注您在澳洲发展的每一步”的品牌理念，并搭建了六大子品牌，组成了澳大利亚本土领先的一站式服务产业链，为数万海外留学生与华人，企业团体提供了澳洲留学，签证，移民，语言辅导，商务考察，市场传媒，地产投资，商务会展，商演娱乐等专业的全方位规划及服务。
            </p>
        </div>

        <div class="col-md-4 footer-location">
            <p class="footer-title">环澳集团澳洲悉尼总部</p>
            <p class="footer-content">Level 15-16, 329 Pitt Street, Sydney, NSW 2000</p>
            <p class="footer-title">环澳集团塔州分公司</p>
            <p class="footer-content">Level 3, 85 Macquarie Street, Hobart, TAS 7000</p>
        </div>

        <div class="col-md-2 footer-tel-container">
            <p class="footer-title">澳洲电话</p>
            <p class="footer-content">(+61) 2 8079 7000</p>
            <p class="footer-title">塔州分公司</p>
            <p class="footer-content">(+61) 3 6270 2277</p>
            <p class="footer-title">中国直拨</p>
            <p class="footer-content">9504 0466 800</p>
        </div>
        <div class="col-md-2 footer-email-container">
            <p class="footer-title">电子邮箱</p>
            <p class="footer-content">info@austop.com.au</p>
        </div>
        </div>
    </div>
</footer>

<div class="m-footer">
    <div class="container">
        <div class="row m-footer-row">
            <div class="col-md-6 copyright mobile-center">
                <p>Copyright &copy; AusTop Group 2006-2018 All rights reserved.<br class="mobile-show"/>Version {{version}}</p>
            </div>
            <div class="col-md-6 a-right mobile-center footer-menu">
                <a class="footer-menu-item">澳洲留学</a>
                <a class="footer-menu-item">澳洲移民</a>
                <a class="footer-menu-item">澳洲签证</a>
                <a class="footer-menu-item">澳洲置业</a>
                <a class="footer-menu-item">教育培训</a>
            </div>
        </div>
    </div>
</div>